<div class="full-page">
  <div class="container text-center position-absolute top-50 start-50 translate-middle">
    <div class="container text-center my-5">
      <h1>Forgot your password?</h1>
    </div>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
        <div class="container my-2">
          <div class="row">
            <div class="col"></div>
            <div class="col-10 col-md-6 form-floating">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control',id: 'floatingInput', placeholder: 'name@example.com' %>
              <label for="floatingInput">メールアドレス</label>
            </div>
            <div class="col"></div>
          </div>
        </div>

      <div class="actions my-2">
        <%= f.submit nil, class: 'btn btn-secondary rounded-pill',value: "パスワードをリセット" %>
      </div>
    <% end %>
  </div>
  
</div>
<div class="container text-center position-absolute bottom-0 start-50 translate-middle">
    <%= render "devise/shared/links" %>
</div>
