
<div class="openbtn"><span></span><span></span><span></span></div>
<nav id="g-nav">
<div id="g-nav-list">
<ul>
<% if user_signed_in? %>
  <li><%= link_to current_user.nickname %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'ログイン', new_user_session_path %></li>
  <li><%= link_to '新規登録', new_user_registration_path %></li>
<% end %>
<li><%= link_to '新規投稿', new_item_path %></li>	
</ul>
</div>
</nav>



<div id="splash">
  <div id="splash_logo"></div>
</div>
<main>
  <div class="tofu"></div>
</main>

  <div class="wrap row" >
  
    <% @items.each do |item| %>
      <div>
          <div class="card shadow">
            <%= link_to item_path(item.id) do %>
              <% if item.image.blank?%>
                <div>
                  <%=  image_tag "tofu.jpg", class: "card-image-top", style: "width: 100%;"%>
                </div>
                <% else %>
                <div>
                  <%=  image_tag (item.image), class: "card-image-top", style: "width: 100%;"%>
                </div >
              <% end %>
            
              <div class="d-flex align-items-baseline card-img-overlay">
                <p>
                  <%= item.user.nickname %>
                  <%= l item.created_at %>
                </p>
                <a href= "/items/<%= item.id %>"></a>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>



<script>//ローカル確認用
      var bar = new ProgressBar.Line(splash_logo, {
  strokeWidth: 0,
  duration: 1000,
  trailWidth: 0,
  text: {
    style: {
      position:'absolute',
      left:'50%',
      top:'50%',
      padding:'0',
      margin:'0',
      transform:'translate(-50%,-50%)',
      'font-size':'1.2rem',
      color:'#fff',
    },
    autoStyleContainer: false 
  },
  step: function(state, bar) {
    bar.setText(Math.round(bar.value() * 100) + ' %'); 
  }
      });
      bar.animate(1.0, function () {
  $("#splash").delay(500).fadeOut(800);ト
      });
</script>

<%# <script>//本番環境用
  var splash_text = $.cookie('accessdate'); 
  var myD = new Date();
  var myYear = String(myD.getFullYear());
  var myMonth = String(myD.getMonth() + 1);
  var myDate = String(myD.getDate());
  
  if (splash_text != myYear + myMonth + myDate) {
          $("#splash").css("display", "block");
          setTimeout(function () {
              $("#splash_logo").fadeIn(1000, function () {
                  setTimeout(function () {
              $("#splash_logo").fadeOut(1000);
                  }, 1000);
          setTimeout(function () {
              $("#splash").fadeOut(1000, function () {
              var myD = new Date();
              var myYear = String(myD.getFullYear());
              var myMonth = String(myD.getMonth() + 1);
              var myDate = String(myD.getDate());
              $.cookie('accessdate', myYear + myMonth + myDate);
          });
          }, 1700);
      });
  }, 1000);
  }else {
      $("#splash").css("display", "none");
  }
</script> %>

<script>//フリップアクション
  function fadeAnime(){
  // flipLeft
  $('.card').each(function(){
      var elemPos = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll >= elemPos - windowHeight){
          $(this).addClass('flipLeft');
      }else{
          $(this).removeClass('flipLeft');
      }
  });
  }
  
  
    $(window).scroll(function (){
      fadeAnime();
    });
</script>

<script>//メニュー
  $(".openbtn").click(function () {
    $(this).toggleClass('active');
      $("#g-nav").toggleClass('panelactive');
  });
  
  $("#g-nav a").click(function () {
      $(".openbtn").removeClass('active');
      $("#g-nav").removeClass('panelactive');
  });
</script>

<script>
  $(function () {
    var sp = 480; //SPのサイズを設定

    function masonry_execute() {
      var $wrap = $('.wrap');   //コンテナとなる要素を指定

      if ( $('html').width() < sp ) { //ウィンドウ幅が480px以下だった場合、masonry破棄 (無効)
        $wrap.masonry('destroy');
      } else {                        //ウィンドウ幅が480px以上だった場合、masonry適応
        $wrap.imagesLoaded(function(){
          $wrap.masonry({
            itemSelector: '.card',
            percentPosition: true,
            // columnWidth: 205,
            // fitWidth: true,

          });
        });
      }
    }
    masonry_execute(); //masonry_execute関数を実行

    $(window).resize(function(){ //ウィンドウがリサイズされたら、再度masonry_execute関数を実行
      masonry_execute();
    });
  });
</script>

