	<div id="splash">
		<div id="splash_logo"></div>
	</div>
	<main>
    <div class="tofu"></div>
	</main>

  <div class="full-page">
    <% @items.each do |item| %>
  
    <%= link_to item_path(item.id) do %>
      <% if item.image.blank?%>
        <div class="img-thumbnail">
          <%=  image_tag "tofu.jpeg" %>
        </div>
        <% else %>
        <div class="img-thumbnail">
          <%=  image_tag (item.image) %>
        </div >
      <% end %>
    <% end %>
  
  
      <%= item.user.nickname %>
      <%= l item.created_at %>
  
  
    <% end %>
  
    <%= link_to '新規投稿', new_item_path %>
  
    <% if user_signed_in? %>
      <%= link_to current_user.nickname %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to '新規登録', new_user_registration_path %>
    <% end %>
  <h1>cssテスト赤色</h1>
  </div>


<script>//ローカル確認用
      var bar = new ProgressBar.Line(splash_logo, {
  strokeWidth: 0,
  duration: 1000,
  trailWidth: 0,
  text: {
    style: {
      position:'absolute',
      left:'50%',
      top:'50%',
      padding:'0',
      margin:'0',
      transform:'translate(-50%,-50%)',
      'font-size':'1.2rem',
      color:'#fff',
    },
    autoStyleContainer: false 
  },
  step: function(state, bar) {
    bar.setText(Math.round(bar.value() * 100) + ' %'); 
  }
      });
      bar.animate(1.0, function () {
  $("#splash").delay(500).fadeOut(800);ト
      });
</script>



<%# <script>//本番環境用
  var splash_text = $.cookie('accessdate'); 
  var myD = new Date();
  var myYear = String(myD.getFullYear());
  var myMonth = String(myD.getMonth() + 1);
  var myDate = String(myD.getDate());
  
  if (splash_text != myYear + myMonth + myDate) {
          $("#splash").css("display", "block");
          setTimeout(function () {
              $("#splash_logo").fadeIn(1000, function () {
                  setTimeout(function () {
              $("#splash_logo").fadeOut(1000);
                  }, 1000);
          setTimeout(function () {
              $("#splash").fadeOut(1000, function () {
              var myD = new Date();
              var myYear = String(myD.getFullYear());
              var myMonth = String(myD.getMonth() + 1);
              var myDate = String(myD.getDate());
              $.cookie('accessdate', myYear + myMonth + myDate);
          });
          }, 1700);
      });
  }, 1000);
  }else {
      $("#splash").css("display", "none");
  }
</script> %>

